#
TZ='{{ timezone }}'
WT_POLL_INTERVALL=86400
WT_SCHEDULE="0 0 4 * * *"
WT_CLEANUP=true
WT_MONITOR=false
SERVER_NAME={{ ansible_hostname }}
MAILTO={{ mail_to_usr }}
SMTP_FROM={{ mail_from_watchtower }}
SMTP_HOST={{ smtp_server }}
SMTP_PORT={{ smtp_port }}
SMTP_USERNAME={{ smtp_login }}
SMTP_PASSWORD={{ smtp_password }}
